/* Your Styles Here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Karla:ital@1&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: 100% 30vh;
    background-color: #19151e;
}

.main-content{
    color:white; 
    border: 1px solid #868cb6; 
    position: absolute;
    top:10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    text-align: center;
    padding:5%; 
    height: max-content;
    transition: box-shadow 0.5s;
}

.main-content:hover{
    box-shadow: -3px 3px 35px 11px rgba(0,0,0,0.8);
}

.pfp{
    margin-top:5vh; 
    width:20vh; 
    border-radius: 50%;
    border: 1px solid white;
    transition: transform 1s;
}

.pfp:hover{
    transform: rotateY(180deg);
}

.link{
    font-size: medium;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding:1%; 
    border-radius: 8px; 
    transition: background-color 3s;
}

a{
    color:white; 
}

a:visited{
    color:#bfc3ab; 
}

.link:hover{
    background-color: #868cb6; 
}

.emphasis{
    background-color: rgba(134, 140, 182, 0.6);
}